a{
    text-decoration: none;
}
.header{
    background-color: #000;
    width: 1900px;
    height: 100px;
 }

.full-warp{
    width: 100%;
}

.warp{
    width: 1900px;
}

.logo img{
    width: 80px;
    border-radius: 40px;
    padding: 10px 0;
    margin-left: 20px;
    float: left;
}

.menu{
    float: left;
    width: 1700px;
    text-align: right;
    margin-top: 25px;
}

.menu a{
    color: #fbfbfb;
    padding: 15px;
    font-size: 24px;
 
}

.banner_img{
   background-image: url(./img/pexels-flo-dahm-1137511.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 300px 0; 
}

.service-item{
   text-align: center;
    width: 450px;
    height: 200px;
    float: left;
    border: 1px solid red;
    margin: 20px;
    margin-bottom: 20px;
    padding: 50px;
}

 