a{
    text-decoration: none;
}
.header{
    background-color: #000;
    width: 1900px;
    height: 100px;
 }

 body{
    font-family:  Roboto,'sans-serif';
 }

.full-warp{
    width: 100%;
}

.warp{
    width: 1900px;
}

.logo img{
    width: 80px;
    border-radius: 40px;
    padding: 10px 0;
    margin-left: 20px;
    float: left;
}

.menu{
    float: left;
    width: 1700px;
    text-align: right;
    margin-top: 25px;
}

.menu a{
    color: #fbfbfb;
    padding: 15px;
    font-size: 24px;
 
}

.banner_img{
   background-image: url(./img/pexels-flo-dahm-1137511.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 300px 0; 
}

.service-item{
   text-align: center;
    width: 450px;
    height: 200px;
    float: left;
    border: 1px solid red;
    margin: 20px;
    margin-bottom: 20px;
    padding: 50px;
}

/* Signup */
.main-div{
    background-image: url(./img/pexels-felix-mittermeier-956999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px  0;
}

.tabile{
    margin:0 auto;
    color: #fff;
    
}

.tabile tr td {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.tabile tr td input {
    color: #fff;
    background: transparent;
    border: none;
    border: 3px solid #777;
    padding: 20px 0;
}







.tabile tr td ::placeholder{
    color: #fff;
    padding: 5px;
}
.tabile tr td button{
    width: 85px;
    height: 35px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: .4s;
}
.tabile tr td button:hover{
    background: #fff;
    color: #000;
    
}
.test{
    width: 350px;
    margin: 4px;
}
 